@mixin flex($align-items, $justify-content,$gap:rem(10)){
    display: flex;
    align-items:$align-items;
    justify-content:$justify-content;
    gap: rem($gap);
}
@mixin breakPoint($point){
    @if $point == mobile{
        @media (max-width:767px){
            @content
        }
        
    };
    @if $point==small{
        @media(min-width:768px) and (max-width:991px){
            @content
        }
    };
    @if $point==medium{
        @media(min-width:992px) and (max-width:1199px){
            @content
        }
    };
    @if $point==large{
        @media(min-width:1200px) and (max-width:1399px){
            @content
        }
    }
}